body {

    margin-top: 0;
    font-family: 'Play', sans-serif;
}

/* header area  */
.header {
    padding-top: 30px;
    background-color: #fff4e7;
}

.header-menu {
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu {
    display: grid;
    grid-template-columns: repeat(5, 1fr);

}

.menu>a {
    text-decoration: none;
    font-size: 20px;
    margin-right: 20px;
    font-weight: 700;
    color: #85817c;
}

/* brand area  */
.brand-area {
    margin-top: 40px;
}

.brand-area>h1 {
    font-size: 48px;
    text-align: center;
}

.brand-area>p {
    font-size: 18px;
    text-align: center;
}

.top-btn {
    width: 10%;
    margin: auto;
}

.btn {
    background-color: #ff900e;
    padding: 20px 30px;
    font-size: 18px;
    color: #ffffff;
    border: none;
    border-radius: 5px;
}

.image-area {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    padding-bottom: 40px;
}

.banner-image {
    text-align: center;
}